# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/launch.json

.vscode/c_cpp_properties.json

.vscode/tasks.json

_BUILD/Adventure_Game_exercise/

_BUILD/ModuleCache.noindex/

_BUILD/.DS_Store

.DS_Store

Adventure_Game_exercise.xcodeproj/project.xcworkspace/xcuserdata/seludeft.xcuserdatad/UserInterfaceState.xcuserstate

main.dSYM/

hello_world.dSYM/
